<div id="main">
  <div id="whatwedo">
    <p>Welcome to <span id="logo">The Event</span></p>
    <p>Your one-stop site for easy event organization and planning!</p>
    <p>4 quick steps!</p>
    <ol>
      <li>Register or Login</li>
      <li>Create an event</li>
      <li>Add details</li>
      <li>Submit and enjoy the party!</li>
    </ol>
    <a href="/loginreg">Register and Log in!</a>
  </div>
</div>
