<div id="wrapper">
  <h1>Create an event!</h1>
  <div id="addevent">
    <form action="/create" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="event[user_id]" value="<%= current_user.id %>">
      <label>Name:</label><input type="text" name="event[name]">
      <label>Description:</label><input type="text" name="event[description]">
      <label>When:</label><input type="datetime-local" name="event[when]">
      <label>Where:</label><input type="text" name="event[where]">
      <input type="submit" value="CREATE">
    </form>
  </div>

  <form action="/events/<%= current_user.id %>" method="GET">
    <input type="submit" value="BACK">
  </form>
</div>
